# Mac specific
#=============

# FS system information files
.DS_Store

# RStudio IDE
#============

# Not really an R project, so these are just local config files
# needed to develop with RStudio.
*Rproj*

# Created files
#==============

# HTML files are just rendered markdown
# All documentation should be in markdown format
**/*.html

# Local user-installed test infrastructure
test/lib
